html {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rebeccapurple; 
    position: fixed;   
    width: 100%;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li a.active {
    background-color: #4caf50;
}

@media screen and (max-width: 600px) {
    li {
        float: none;
    }
}

.img1 {
background-image: url("images/pexels-mixer.jpeg");
background-repeat: no-repeat;
background-position: center top;
margin-top: 55px;
margin-bottom: 25px;
height: 800px;
width: 100%;
}

.img2 {
    background-image: url("images/audience.jpg");
    background-repeat: no-repeat;
    background-position:center bottom;
    height: 800px;
    width: 100%;
    }