html {
    height: 100%;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rebeccapurple; 
    position: fixed;   
    width: 100%;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li a.active {
    background-color: #4caf50;
}

@media screen and (max-width: 600px) {
    li {
        float: none;
    }
}

.img1 {
background-image: url("images/pexels-mixer.jpeg");
background-repeat: no-repeat;
background-position: center top;
/* margin-top: 0px; */
margin-bottom: 5px;
height: 800px;
width: 100%;
}

.img2 {
    background-image: url("images/audience.jpg");
    background-repeat: no-repeat;
    background-position:center bottom;
    height: 800px;
    width: 100%;
    }

    #logo {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
    background: #000;
    }

    .textContainer h1 {
        font-size: 50px;
        color: rgba(225, 225, 225, 0.1);
        background-image: url("https://png.pngtree.com/element_origin_min_pic/16/11/01/195818810a6636b.jpg");
        background-repeat: repeat-x;
        background-position: bottom;
        background-size: cover;
        -webkit-background-clip: text;
        background-clip: text;
        animation: animate 15s linear infinite;
        text-align: center;
        margin-top: 50px;
        font-weight: 400;
        text-transform: uppercase;
        
    }
    
    @keyframes animate {
        0% {
            background-position: left 0px top 10px;
        }
        40% {
            background-position: left 800px top 10px;
        }
    }